$maxPageWidth:          1100px;

$backgroundColor:       #f5f3ee;
$shadedBackgroundColor: #eeece7;
$nearBlack:             #0f0a07;
$shadow:                #C8C5C1;
$midTone:               #827e7a;
$highlight:             #74b58c;
$highlightHover:        #4a765a;
$highlightPressed:      #569a6e;

$minSizeForTwoCol:         950px;
$sizeRequiringPhoneLayout: 600px;

$menuMarginRight: 20px;

/* categorical colours from https://github.com/mbostock/d3/wiki/Ordinal-Scales */
$categoricalColors: #1f77b4 #ff7f0e #2ca02c #d62728 #9467bd #8c564b #e377c2 #7f7f7f #bcbd22 #17becf;

@mixin link {
  color: $highlight;
  fill: $highlight;
  text-decoration: none;
  transition: all 0.5s;
}
@mixin hovered-link {
  color: $highlightHover;
  fill: $highlightHover;
  text-decoration: underline;
  transition: all 0.2s;
  cursor: pointer;
}
@mixin active-link {
  color: $nearBlack;
  fill: $nearBlack;
  transition: all 0s;
}

@font-face {
  font-family: "Computer Modern mono";
  src: url("/type/cmuntt.eot");
  src: url("/type/cmuntt.ttf");
  src: url("/type/cmuntt.svg");
  src: url("/type/cmuntt.woff");
}

@font-face {
  font-family: "Computer Modern";
  src: url("/type/cmunrm.eot");
  src: url("/type/cmunrm.ttf");
  src: url("/type/cmunrm.svg");
  src: url("/type/cmunrm.woff");
}

@font-face {
  font-family: "Computer Modern italic";
  src: url("/type/cmunti.eot");
  src: url("/type/cmunti.ttf");
  src: url("/type/cmunti.svg");
  src: url("/type/cmunti.woff");
}

@import 'oboe';
@import 'content';
@import 'demo';

