.states {

  path {
    stroke: $backgroundColor;
    stroke-width:0.9;
    vector-effect: non-scaling-stroke;
  }
  
  .blues path {
    fill: $categoricalBlue; 
  }
  
  .reds path {
    fill: $categoricalRed;
  }

}
