#demoTemplateHolder {
  display:none;
}

[data-demo] {
  /* reserve some space for the demo: */
  width:500px; height: 200px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  margin: 0.5em 0 1em 0;
}

[data-demo] {
  background-color: $shadedBackgroundColor;
}

rect.fade {
   fill: $shadedBackgroundColor;
}
rect.fade {
    opacity: 0.9;
}


.packet.request {
    fill:nth($categoricalColors, 10);
}

@mixin svg-text-centered {
  text-anchor: middle;
  alignment-baseline:middle;
}


.packet text {
    fill:$nearBlack;
    @include svg-text-centered
}

.controls text {
    @include link; 
}
.controls text.play {
  @include svg-text-centered;
}

.controls:hover {
    cursor: pointer;
}
.controls:hover text.play,
.controls .reset:hover text {
    @include hovered-link;
}
.controls:active text.play,
.controls .reset:active text{
   @include active-link;
}
.clickableArea {
   opacity:0;
}


.pie-divide {
    fill:none;
    stroke:$backgroundColor;
    stroke-width:1;
}

$i: 1;
@while $i <= length($categoricalColors) {
  .unit-#{$i - 1},
  g.client.received-#{$i - 1} .part#{$i - 1} {
    fill:nth($categoricalColors, $i);
  }
  
  .packet.airwave.unit-#{$i - 1} {
    fill:none;
    stroke:nth($categoricalColors, $i);
  }  
  
  $i: $i + 1;
}
.packet.airwave {
  stroke-width:5px;
}

line.wire.cable {
   stroke:$highlight;
   stroke-width:4;
}
.aerial {
  fill: $highlight;
}
line.messageOuter {
  stroke:$highlight;
  stroke-width:41;
  stroke-linecap: round;
}
line.messageInner {
  stroke:$backgroundColor;
  stroke-width:35;
  stroke-linecap: round;
}

g.client .frame,
rect.server {
    fill: $midTone;
}

circle.aerial,
g.client .frame,
rect.server {
    stroke:$shadedBackgroundColor;
    stroke-width:3;
}

.tower, 
.barrier .wall,
.barrier .shadow {
  fill: $midTone;
}
.barrier .shadow {
  opacity: 0.1;
}

.barrier .upstream,
.barrier .downstream {
  display:none;
}

g.client .viewPort {
  fill: $backgroundColor;
}
g.client .part {
  fill:none;
}

.tweet .detail {
  fill:$backgroundColor;
  opacity:0.5;
}