$pointColor: nth($categoricalColors, 5);
$barColor: nth($categoricalColors, 2);

.graph {
  .axes {
    fill:none;
    stroke: $shadow;
    stroke-width: 4;
  }
  
  .points line {
    stroke:black;
    stroke-width: 2;
  }
}
