.categorical {
  /* categorical colors for packets */
  
  $i: 1;
  @while $i <= length($categoricalColors) {
    $catColor: nth($categoricalColors, $i);
    
    .unit-#{$i - 1} {
      fill:$catColor;
    }
  
    .unit-#{$i - 1} .airwave {
      stroke:$catColor;
    }
  
    $i: $i + 1;
  }
}

$evenColor: $categoricalBlue;
$oddColor:  $categoricalOrange;

.twoSeries {

  $i: 1; 
  @while $i <= 10 {
    $isEven: ($i % 2 == 0);
    $isDark: ($i % 4 == 0) or ($i % 4 == 1);
    
    $seriesColor: if($isEven, $evenColor, $oddColor);
    $seriesColor: if($isDark, darken($seriesColor, 10%), lighten($seriesColor, 10%));

    .unit-#{$i - 1} {
      fill:$seriesColor;
    }

    line.unit-#{$i - 1} {
      stroke: $seriesColor;
    }
 
    $i: $i + 1;
  }
}

.political {
  [data-wonby=dem] {
    fill: $categoricalBlue;    
  }

  [data-wonby=rep] {
    fill: $categoricalRed;
  }
}

rect.origin-slow {
  fill: desaturate($oddColor, 40%);
}
rect.origin-fast {
  fill: desaturate($evenColor, 40%);
}

$requestColor: lighten($categoricalBlue, 20%);

.aerial.request,
.packet.request {
  fill:$requestColor;
}
.request .packet.airwave {
  stroke:$requestColor;
}
