<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Demo page</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
    
    <script type="text/javascript" src="/jQuery.js"></script>
    <script type="text/javascript" src="/d3.js"></script>
    <script type="text/javascript" src="/oboe-browser.js"></script>
    
    <script type="text/javascript" src="/js/demo.js"></script>

</head>

<body id="home">

   <h1>This is a merry demo/wizard thing for the oboe.js site</h1>
    
   <div id="demoArea">
      <svg width="500" height="200">
        
        <rect id="background" x="0" y="0" width="500" height="200"></rect>
        
        <rect transform="translate(15, 55)" x="0" y="0" width="45" height="80"></rect>
        <rect transform="translate(440,55)" x="0" y="0" width="45" height="80"></rect>

      </svg>         
   
      <ul>
         <li><a href="">&lt;</a></li>
         <li><a href="">1</a></li>
         <li><a href="">2</a></li>
         <li><a href="">3</a></li>
         <li><a href="">4</a></li>
         <li><a href="">&gt;</a></li>      
      </ul>
   </div>

</body>
</html>