<svg>
    <template id="demo">
        <svg width="500" height="200">
            <rect class="background" x="0" y="0" width="500" height="200"/>

            <g class="wires">
            </g>

            <g class="packets">
            </g>

            <g class="places">
            </g>

            <g class="controls">
                <rect class="fade" x="0" y="0" width="500" height="200"/>
                <text class="play" x="250" y="100">Play ▶</text>
            </g>
        </svg>
    </template>

    <template id="wire">
        <line class="wire"/>
    </template>

    <template id="server">
        <rect class="server" x="-22.5" y="-40" width="45" height="80"></rect>
    </template>

    <template id="client">
        <g class="client">
            <g transform="translate(-42.5, -52.5)">
                <rect class="frame" width="85" height="95" x="0" y="0"/>
                <rect class="viewPort" width="75" height="80" x="5" y="10"/>

                <rect class="part part0" width="65" height="10" x="10" y="15"/>

                <rect class="part part1" width="15" height="25" x="60" y="30"/>

                <rect class="part part2" width="15" height="30" x="60" y="60"/>

                <rect class="part part3" width="10" height="5" x="45" y="45"/>
                <path class="part part3"
                      d="m 40,46 c 0,8.3 -6.7,15 -15,15 -8.3,0 -15,-6.7 -15,-15 0,-8.3 6.7,-15 15,-15 8.3,0 15,6.7 15,15 z"/>

                <rect class="part part4" width="10" height="5" x="45" y="35"/>
                <path class="part part4"
                      d="m 25.2,31 c 8.3,0.1 14.9,6.9 14.8,15.2 -0.1,8.3 -6.9,14.9 -15.2,14.8 -3.9,0 -7.6,-1.6 -10.4,-4.4 L 25,45 z"/>

                <path class="pie-divide" d="m 15,57 11,-10 0,-16"></path>

                <rect class="part part5" width="45" height="5" x="10" y="66"/>
                <rect class="part part6" width="45" height="14" x="10" y="76"/>
            </g>
        </g>
    </template>

    <template id="packet">
        <circle transform="translate(0,0)" class="packet" r="{{packetRadius}}"></circle>
    </template>
    <template id="firstPacket">
        <g transform="translate(0,0)" class="packet">
            <circle r="{{packetRadius}}"></circle>
            <text>{</text>
        </g>
    </template>
    <template id="lastPacket">
        <g transform="translate(0,0)" class="packet">
            <circle r="{{packetRadius}}"></circle>
            <text>}</text>
        </g>
    </template>
    <template id="getRequest">
        <g transform="translate(0,0)" class="packet">
            <circle r="{{packetRadius}}"></circle>
            <text>GET</text>
        </g>
    </template>

</svg>

<div data-demo="1"></div>
<div data-demo="2"></div>


