 
<section id="demoArea">
   <svg width="500" height="200">
     
     <rect id="background" x="0" y="0" width="500" height="200"></rect>
     
     <rect transform="translate(15, 55)" x="0" y="0" width="45" height="80"></rect>
     <rect transform="translate(440,55)" x="0" y="0" width="45" height="80"></rect>

   </svg>         

   <ul>
      <li><a href="">&lt;</a></li>
      <li><a href="">1</a></li>
      <li><a href="">2</a></li>
      <li><a href="">3</a></li>
      <li><a href="">4</a></li>
      <li><a href="">&gt;</a></li>      
   </ul>
</section>
