
.marked {
   position:relative;
}

code {
   color: white;
   font-size:80%;
}

/* code blocks */
.marked pre {
   background-color:#0f0a07;
   max-width:100%;
   overflow:auto;
   padding:1em;
   line-height: 1.2em;
   border:3px #827e7a solid;
   border-radius: 4px;   
   
   margin:1.5em 0 1.5em 0;
}

/* inline code examples */
:not(pre) > code {
   display:inline-block;
   background-color: #827e7a;
   padding: 2px 5px;
}

.marked h2 {
   border-bottom: 1px #0f0a07 solid;
   margin:0.5em 1em 1em 0;
}

/* colours stolen from here:
https://github.com/jdiehl/dark-pastel/blob/master/dark-pastel.tmTheme */

code .comment {
   color: #B8FF9A;
}
code .string {
   color: #FF9F9A;
}
code .keyword {
   color: #66D9EF;
}

.marked ul {
   margin:0 2em 2em 2em;
   list-style: none;
}
.marked li {
   margin:0.5em 0;
}

/* use bullets from the font */
.marked li:before {
    content: "•";
    padding-right: 0.5em;
}