
ul {
   display:block;
}
li {
   display:inline;
}

body {
   background-color: #f5f3ee;
}

#demoArea svg {
   margin: 20px;
}

rect#background {
   fill: #eeece7;
}


.packet.request {
    fill:#17becf;
}

.packet text {
    fill:black;
}

/* categorical colours from:
    https://github.com/mbostock/d3/wiki/Ordinal-Scales
*/
.packet.response0 {            
   fill:#1f77b4;
}
.packet.response1 {
   fill:#ff7f0e;    
}
.packet.response2 {
   fill:#2ca02c;    
}
.packet.response3 {
   fill:#d62728;    
}
.packet.response4 {
   fill:#9467bd;    
}
.packet.response5 {
   fill:#8c564b;    
}
.packet.response6 {
   fill:#e377c2;    
}
.packet.response7 {
   fill:#7f7f7f;    
}
.packet.response8 {
   fill:#bcbd22;    
}
.packet.response9 {
    fill:#17becf;
}

line.wire {
   stroke:#74b58c;
   stroke-width:3;
}

rect.server {
    fill: #827e7a;
}